/*
=======================
Author: Helena Maruf
Linked to: tetris.html
=======================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
======================
Main code
======================
*/

:root {
	--red: #db0e1e;
	--light-red: #e56f78;
	--green: #2dc345;
	--light-green: #83dc8e;
	--blue: #10a9ec;
	--light-blue: #73c8ee;
	--yellow: #e7c40c;
	--light-yellow: #f3db6b;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.tetris {
	width: 100vw;
	height: 100vh;
	padding: 14px 8px;
	background: #1c1c1c;
	display: grid;
	grid-template: repeat(14, 1fr) / repeat(30, 1fr);
	gap: 5px;
}

.square {
	border: 20px solid #000;
}

.red {
	border-top-color: var(--light-red);
	border-right-color: var(--red);
	border-bottom-color: var(--red);
	border-left-color: var(--light-red);
}

.green {
	border-top-color: var(--light-green);
	border-right-color: var(--green);
	border-bottom-color: var(--green);
	border-left-color: var(--light-green);
}

.blue {
	border-top-color: var(--light-blue);
	border-right-color: var(--blue);
	border-bottom-color: var(--blue);
	border-left-color: var(--light-blue);
}

.yellow {
	border-top-color: var(--light-yellow);
	border-right-color: var(--yellow);
	border-bottom-color: var(--yellow);
	border-left-color: var(--light-yellow);
}