/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/*
============================
Main code
============================
*/

body {
	width: 100vw;
	height: 100vh;
	background: #292929;
	display: grid;
	place-items: center center;
	font-family: 'Do Hyeon', sans-serif;
	color: #fff;
}

.wrapper {
	width: 80%;
	height: 85%;
	/* border: 1px solid #fff; */
	display: grid;
	align-items: center;
	grid-template-rows: 70px repeat(4, 1fr);
}

.title {
	color: #fff;
	justify-self: center;
	font-size: 11vw;
}

.item {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.battery {
	width: 50%;
	min-width: 141px;
	height: 92%;
	border: 4px solid #fff;
	border-radius: 15px;
	position: relative;
	display: flex;
	gap: 5px;
	padding: 2%;
}

.status {
	font-size: 8vw;
}

.status-centered {
	position: absolute;
	right: 20%;
}

.battery:after {
	content: "";
	width: 7%;
	height: 35%;
	background: #fff;
	border-radius: 0 4px 4px 0;
	position: absolute;
	right: -4%;
	top: 50%;
	transform: translate(50%, -50%);
}

.battery div {
	flex-basis: 25%;
}

.battery .round:first-child {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.battery-1 div {
	background: #d12e32;
}

.battery-2 div {
	background: #ffe743;
}

.battery-3 div {
	background: #c0d75f;
}

.battery-4 div {
	background: #2cb463;
}

.battery-4 .round:last-child {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}