/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/*
============================
Main code
============================
*/

body {
	width: 100vw;
	height: 100vh;
	background: #292929;
	font-family: 'Do Hyeon', sans-serif;
	color: #fff;
	display: grid;
	place-items: center center;
}

.wrapper {
	width: 90%;
	max-width: 800px;
	height: 90%;
	display: grid;
	grid-template-rows: 12% 1fr 12%;
	place-items: center center;
}

.message-1,
.message-2 {
	font-size: 11vmin;
}

.message-1 {
	align-self: start;
}

.message-2 {
	align-self: end;
}

.battery {
	width: 22vmax;
	max-width: 144px;
	height: 35vmax;
	max-height: 259px;
	border: 5px solid #fff;
	border-radius: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
}

.battery div {
	flex-basis: 25%;
	background: #38af48;
}

.battery div:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.battery div:last-child {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.battery:before {
	content: "";
	width: 30%;
	height: 7%;
	background: #fff;
	border-radius: 5px 5px 0 0;
	position: absolute;
	top: -4%;
	left: 50%;
	transform: translate(-50%, -50%);
}