@font-face {
	font-family: 'There can only be one beaver im it';
	src: url(web-font/font.ttf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
===============================
Main code
===============================
*/

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background: hsl(46, 65%, 82%);
}

.title {
	width: 50vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	color: #2b2020;
	font: 100px 'Cookie', cursive;
}

.symbol {
	font-size: 120px;
	font-family: 'There can only be one beaver im it';
}

.word-coffee {
	justify-self: start;
}

.word-break {
	justify-self: end;
}

.table {
	width: 50vw;
	height: 100vh;
	border: 5px solid hsl(240, 5%, 13%);
	border-right: hidden;
	border-bottom: hidden;
	border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
	background: #37373d;
	/* box-shadow: 3px 0 10px #000; */
	position: absolute;
	top: 0;
	right: 0;
}

.saucer {
	width: 23vw;
	height: 50vh;
	border: 8px solid #e1c873;
	border-radius: 50%;
	background: rgb(221, 220, 220);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 85px;
	right: 150px;
}

.cup {
	width: 16vw;
	height: 35vh;
	border: 17px solid #e0bd4b;
	border-radius: 50%;
	background: #2b2020;
	box-shadow: 0 0 15px 5px #808080;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: absolute;
	top: 38px;
	left: 39px; */
}

.inner-shadow {
	width: 14vw;
	height: 30vh;
	border: 5px solid #bb9e3e;
	border-radius: 50%;
	/* position: absolute;
	top: -2px;
	left: -3px; */
}

.inner-bright {
	width: 12vw;
	height: 28vh;
	border-radius: 50%;
	border-left-width: 9px;
	border-style: solid;
	border-left-color: hsl(0, 15%, 70%);
	position: absolute;
	top: 59px;
	left: 62px;
}

.strap {
	width: 4vw;
	height: 5vh;
	/* border: 1px solid #dfb016; */
	border-left-color: transparent;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: linear-gradient(to right, #c2a649, #e0bd4b);
	position: absolute;
	right: 2px;
}

.border-sugar-pack {
	width: 8vw;
	height: 14vh;
	background: hsl(0, 0%, 90%);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 70px;
	bottom: 100px;
	transform: rotate(-24deg);
}

.middle-sugar-pack {
	width: 6vw;
	height: 9vh;
	border-radius: 5px;
	background: linear-gradient(to right, hsl(0, 0%, 96%), hsl(0, 0%, 84%));
	display: flex;
	justify-content: center;
	align-items: center;
}

.sugar-label {
	color: #37373d;
	font: 30px 'Dongle', sans-serif;
	letter-spacing: -1px;
}

.spoon {
	position: absolute;
	top: 135px;
	right: 170px;
	transform: rotate(-45deg);
}

.spoon-bowl {
	width: 4vw;
	height: 9vh;
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	/* border: 2px solid hsl(0, 1%, 56%); */
	border-radius: 20px;
	background: radial-gradient(rgb(221, 220, 220), hsl(0, 1%, 66%));
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.spoon-handle {
	width: 1vw;
	height: 22vh;
	/* background: hsl(0, 1%, 66%); */
	background: linear-gradient(to right, hsl(0, 1%, 66%), hsl(0, 1%, 76%), hsl(0, 1%, 66%));
	border: 1px solid hsl(0, 1%, 56%);
	border-top: hidden;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	position: absolute;
	top: 53px;
	right: 20px;
	z-index: 1;
}