/*
===========================
Author: Helena Maruf
Linked to: insta-mood.html
===========================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/*
==============================
Main code
==============================
*/

body {
	height: 100vh;
	background: #f9c8cc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	width: 30%;
	height: 66vh;
	border-radius: 50%;
	background: #f49aa2;
	display: grid;
	grid-template-rows: 140px 1fr;
	justify-items: center;
}

.tooltip {
	width: 180px;
	height: 55px;
	background: #ec4956;
	border-radius: 20px;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	animation: tooltip 2s infinite alternate;
}

.tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 44%;
	border-width: 12px;
	border-style: solid;
	border-color: #ec4956 transparent transparent transparent;
}

@keyframes tooltip {
	from { opacity: 0; bottom: -15px;}
	to { opacity: 1; bottom: 0;}
}

.tooltip .bi {
	color: #fff;
	font-size: 21px;
}

.bi:not(:last-child) {
	margin-right: 10px;
}

.bi::after {
	content: "99";
	font: 16px Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-left: 3px;
}

.insta-logo {
	width: 200px;
	height: 200px;
	border: 3px solid #000;
	border-radius: 40px;
	background: linear-gradient(45deg, #fcb045, #fd1d1d, #833ab4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	animation: logo 1.5s infinite alternate;
}

@keyframes logo {
	from { transform: rotate(0deg); }
	to { transform: rotate(8deg); }
}

.highlight {
	width: 50px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.highlight-right {
	align-items: flex-start;
	left: -43px;
}

.highlight-left {
	align-items: flex-end;
	right: -43px;
}

.highlight::before,
.highlight::after {
	content: "";
}

.highlight div,
.highlight::before,
.highlight::after {
	width: 20px;
	height: 8px;
	background: #833ab4;
	border-radius: 8px;
	animation: highlights 3s linear infinite alternate;
}

.highlight .middle {
	margin: 12px 0;
}

.highlight-right::after,
.highlight-left::before {
	transform: rotate(-30deg);
}

.highlight-right::before,
.highlight-left::after {
	transform: rotate(30deg);
}

@keyframes highlights {
	0% { background: #833ab4;}
	50% { background: #fd1d1d; }
	100% { background: hsl(14, 98%, 63%); }
}

.camera {
	width: 150px;
	height: 150px;
	border: 14px solid #fff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.camera::before {
	content: "";
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 12px;
	right: 12px;
}

.camera::after {
	content: "";
	width: 77px;
	height: 77px;
	border: 14px solid #fff;
	border-radius: 50%;
}

.eyes {
	width: 200px;
	height: 47px;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	bottom: 9px;
}

.eyes>div {
	width: 45px;
	height: 45px;
	background: #000;
	border-radius: 50%;
	position: relative;
}

.bright {
	width: 40px;
	height: 20px;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 11px;
	left: 2px;
	transform: rotate(45deg);
}

.bright::before,
.bright::after {
	content: "";
	background: #fff;
	border-radius: 50%;
}

.bright::before {
	width: 12px;
	height: 12px;
}

.bright::after {
	width: 6px;
	height: 6px;
}

.mouth-area {
	width: 200px;
	height: 25px;
	position: absolute;
	bottom: -9px;
	display: flex;
	justify-content: center;
}

.mouth {
	width: 35px;
	height: 25px;
	background: #000;
	border-radius: 0 0 50% 50%;
	position: relative;
}

.mouth::after {
	content: "";
	width: 45px;
	height: 14px;
	background: linear-gradient(to right, #fc7033, #fd522b);
	border: 3px solid #000;
	border-top: transparent;
	border-radius: 0 0 50% 50%;
	position: absolute;
	z-index: -1;
	bottom: -5px;
	left: -5px;
}