/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/*
==============================
Main code
==============================
*/

body {
	height: 100vh;
	/* background: #fdd9c8; */
	background: #f9c8cc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	width: 30%;
	height: 66vh;
	border-radius: 50%;
	background: #f49aa2;
	display: grid;
	grid-template-rows: 140px 1fr;
	justify-items: center;
}

.tooltip {
	width: 180px;
	height: 55px;
	background: #ec4956;
	border-radius: 20px;
	/* box-shadow: 0 0 7px hsl(355, 81%, 51%); */
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 39px; */
	position: relative;
}

.tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 44%;
	border-width: 12px;
	border-style: solid;
	border-color: #ec4956 transparent transparent transparent;
}

.tooltip .bi {
	color: #fff;
	font-size: 21px;
}

.bi:not(:last-child) {
	margin-right: 10px;
}

.bi::after {
	content: "99";
	font-size: 16px;
	font-weight: 700;
	margin-left: 3px;
}

.insta-logo {
	width: 200px;
	height: 200px;
	border: 3px solid #000;
	border-radius: 40px;
	background: linear-gradient(45deg, #fcb045, #fd1d1d, #833ab4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: rotate(10deg);
	position: relative;
	z-index: 1;
}

.highlight {
	width: 50px;
	height: 100px;
	/* border: 1px solid #000; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.highlight-right {
	align-items: flex-start;
	left: -43px;
}

.highlight-left {
	align-items: flex-end;
	right: -43px;
}

.highlight div {
	width: 20px;
	height: 8px;
	background: #833ab4;
	border-radius: 8px;
}

.highlight .middle {
	margin: 12px 0;
}

.highlight-right .top,
.highlight-left .bottom {
	transform: rotate(30deg);
}

.highlight-left .top,
.highlight-right .bottom {
	transform: rotate(-30deg);
}

/* .insta-logo::before,
.insta-logo::after {
	content: "";
	border: 3px solid #000;
	border-color: transparent transparent #000 transparent;
	border-radius: 0 0 50% 50%;
	position: absolute;
	/* bottom: 0;
	right: -20px;
} */

/* .insta-logo::before {
	width: 30px;
	height: 20px;
	bottom: 3px;
	right: -10px;
	transform: rotate(-55deg);
}

.insta-logo::after {
	width: 48px;
	height: 30px;
	bottom: -4px;
	right: -21px;
	transform: rotate(-57deg);
} */

/* .insta-logo::after {
	content: "";
	width: 50px;
	height: 50px;
	background: #000;
	position: absolute;
	bottom: -10px;
	right: -10px;
} */

.camera {
	width: 150px;
	height: 150px;
	border: 14px solid #fff;
	border-radius: 40px;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	position: relative;
}

.button {
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 50%;
	/* align-self: flex-end; */
	position: absolute;
	top: 12px;
	right: 12px;
}

.lens {
	width: 77px;
	height: 77px;
	border: 14px solid #fff;
	border-radius: 50%;
}

.eyes {
	width: 200px;
	height: 47px;
	/* border: 1px solid #000; */
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	bottom: 9px;
}

.eyes>div {
	width: 45px;
	height: 45px;
	background: #000;
	border-radius: 50%;
	position: relative;
}

.brights {
	width: 40px;
	height: 20px;
	/* border: 1px solid #fff; */
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 11px;
	left: 2px;
	transform: rotate(45deg);
}

.brights div {
	background: #fff;
	border-radius: 50%;
}

.brights .bigger {
	width: 12px;
	height: 12px;
}

.brights .smaller {
	width: 6px;
	height: 6px;
}

.mouth-area {
	width: 200px;
	height: 25px;
	/* border: 1px solid blue; */
	position: absolute;
	bottom: -9px;
	display: flex;
	justify-content: center;
}

.mouth {
	width: 35px;
	height: 25px;
	background: #000;
	border-radius: 0 0 50% 50%;
	position: relative;
	/* border-bottom: 2px solid #fd5a2e; */
}

.chin {
	width: 45px;
	height: 14px;
	background: linear-gradient(to right, #fc7033, #fd522b);
	border: 3px solid #000;
	border-top: transparent;
	border-radius: 0 0 50% 50%;
	position: absolute;
	z-index: -1;
	bottom: -5px;
	left: -5px;
}